{% extends 'base/base.html' %}
{% load static %}

{% block navblock %}
        {% include 'blog1/nav_content.html'%}
{% endblock navblock %}


{% block content %}

<div class="profile">
    <div class="col-lg-8">
        <div class="card mb-4 mb-lg-0">
            <div class="profile-content">
                <div class="col-lg-4">
                    <div class="card"  style="border: 0px;" >
                        <div class="card-body text-center" id="user_profile" >
                            <h2 class="my-3" id="user_full_name"  >
                                <!-- javascript -->
                            </h2>
                            <p class="text-muted mb-1" id="bloger_name" >
                                <!-- javascript -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body mt-4">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9 d-flex justify-space-between">
                            <p class="text-muted mb-0" id="email_id">
                                <!-- javascript -->
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Total Blog</p>
                        </div>
                        <div class="col-sm-9 d-flex justify-space-between">
                            <p class="text-muted mb-0" id="total_blog" > Number of Blog</p>
                        </div>
                    </div>
                    <hr>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">About You</p>
                        </div>
                        <div class="col-sm-9">
                            <p id="about_you" class="text-muted mb-0">
                                about You
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section">
    <div style="display: flex; justify-content: end; padding-right: 25px; " class="mb-5">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort By:
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="?sort=ByNameAsc"> By Name <i class="ti-arrow-up"></i> </a></li>
                <li><a class="dropdown-item" href="?sort=ByNameDesc"> By Name <i class="ti-arrow-down"></i> </a></li>
                <li><a class="dropdown-item" href="?sort=ByDateAsc"> By Date <i class="ti-arrow-up"></i> </a></li>
                <li><a class="dropdown-item" href="?sort=ByDateDesc"> By Date <i class="ti-arrow-down"></i> </a></li>
                <li><a class="dropdown-item" href="?sort=ByMostLike"> By Most Like</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row" id="row">
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock content %}



{% block scriptblock %}

<script>
	function blog_display(data){
		$('#row').empty();
		blog2 = ''
				for (let index = 0; index < data.length; index++) {
					blog2 += '<div class="col-lg-3 col-md-6"> <article class="post-grid mb-5"> <a class="post-thumb mb-4 d-block " href="/Blog/?blog='+ data[index].Blog_slug +'"><img src="'+ data[index].Blog_images +'" alt="" style="height: 182px;" class="img-fluid w-100 "> </a> <span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">'+ data[index].Blog_Category +'</span> <h3 class="post-title mt-1"><a href="/Blog/?blog='+ data[index].Blog_slug +'"> '+ data[index].Blog_title +' </a></h3> <span class="text-muted letter-spacing text-uppercase font-sm">'+ data[index].BLog_upload_date +'</span> </article> </div>'
				}
				$('#row').append(blog2);
	}
</script>

<script>
    const urlparam = new URLSearchParams(window.location.search)
    const id = urlparam.get('profile')
    if (sessionStorage.getItem('token')) {
        $.ajax({
            url: '/api/aboutuser/',
            type : 'GET',
            data : {
                'id': id
            },
            headers: {"Authorization": "Bearer " + sessionStorage.getItem('token')},
            success: function(response,t,xhr){
                console.log(response.data.blog)
                if (xhr.status == 200) {
                    $('#total_blog').html(response.data.blog.length)
                    $('#email_id').html(response.data.user.email)
                    $('#about_you').html(response.data.user.aboutYou)
                    $('#bloger_name').html(response.data.user.bloger_name)
                    $('#user_full_name').html(response.data.user.first_name + ' ' +response.data.user.last_name)
                    if (response.data.is_active) {
                        $('#Account_status').html('Active')
                    }
                    if (response.data.user_profile) {
                        $('#user_profile').prepend(' <img src="'+ response.data.user_profile +'"alt="avatar" class="rounded-circle img-fluid" style="width: 250px; height: 240px;">')
                    }
                    else{
                        $('#user_profile').prepend(' <img src="{% static "images/blog-user-2.jpg" %}"alt="avatar" class="rounded-circle img-fluid" style="width: 250px; height: 240px;">')
                    }
                    blog_display(response.data.blog)
                }
            }
        })
    }
</script>

{% endblock %}



{% block footerblock %}

            {% include 'blog1/footer_content.html'%}
    {% endblock footerblock %}