{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-5">
                    <h2 class="mb-4">Forget Password</h2>
                    <!-- <form id="contact-form" action="" method="post" class="contact-form"> -->
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Enter Your Email</label>
                                    <input class="form-control form-control-name" id="Current_email" type="email" name="email" required placeholder="Enter Your email">
                                </div>
                                <input class="btn btn-primary solid blank mt-3" id="submit_new_email" type="submit" onclick="submit_verify_email()" name="sendmail" value="Send OTP">
                            </div>
                        </div>
                        <div class="form-group" id="verify_otp">
                            <label for="Change_email_otp1">Enter OTP</label>
                            <input type="number" class="form-control form-control-name"
                                id="change_email_otp" name="Change_email_otp1" placeholder="Enter Your OTP">
                                <input class="btn btn-primary solid blank mt-3" type="button" name="otp_verify"
                                value="Change Password" onclick="Verfiy_otp_btn()">
                        </div>
                        <div class="row" id="ForgetPassword_div">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Password</label>
                                    <input type="password" class="form-control form-control-name" required name="password1" id="password1" placeholder="Enter Your Password">
                                </div>
                                <div class="form-group">
                                    <label for="name">Confrim Password</label>
                                    <input type="password" class="form-control form-control-name" required placeholder="Enter Confrim password" name="password2" id="password2">
                                </div>
                                <input class="btn btn-primary solid blank mt-3" type="button" name="changePassword" value="Change Password" id="ForgetPassword_btn"
                            </div>
                        </div> 
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block scriptblock %}
<script>
    $('#verify_otp').css('display','none')
    $('#ForgetPassword_div').css('display','none')
    function submit_verify_email(){
        var email = document.getElementById('Current_email')
        if (email.value == '') {
            showNotification('Please Enter Email ID',false)
        }
        else{
            $.ajax({
                type: 'POST',
                url: '/api/check_email_password/', // Update this URL with your Django API endpoint
                data: {'email': email.value},
                success: function(response) {
                    if (response.available) {
                        email.disabled = true
                        $('#verify_otp').css('display','block')
                        $('#submit_new_email').css('display','none')
                        showNotification('OTP Send to Your Email',true)
                    } else {
                        showNotification('Email is Already Registor',false)
                    }
                },
                error: function(xhr, status, error) {
                    showNotification(error,false)
                }
            })
        }
        }
    </script>


<script>
    function Verfiy_otp_btn() {
        var otp = $('#change_email_otp').val();  // Get the OTP value from the input field
        var newEmail = $('#Current_email').val();  // Get the new email value from the input field
        if (otp == '') {
            showNotification('Please Enter OTP',false)
        }
        else{
            $.ajax({
                type: 'POST',
                url: '/api/VerifyOTP/', 
                data: { 'otp': otp, 'new_email': newEmail },
                success: function(response,t,xhr) {
                    if (xhr.status == 200) {
                        showNotification(response.message,true)
                        $('#verify_otp').css('display','none')
                        $('#ForgetPassword_div').css('display','block')
                    }
                    else if (xhr.status == 203 ){
                        showNotification(response.error,false)
                    }
                    else{
                        showNotification('Something Went Wrong',false)
                    }
                },
                error: function(xhr, status, error) {
                    if (xhr.responseJSON.error) {
                        showNotification(xhr.responseJSON.error,false)  // Show error message
                    }
                    else{
                        showNotification('Something Went Wrong',false)
                    }
                }
            });
        }
    }
</script>


<script>
    $(document).ready(function() {
        $('#ForgetPassword_btn').on('click', function(event) {
            event.preventDefault();

            const Current_email = $('#Current_email').val();
            const newPassword = $('#password1').val();
            const confirmPassword = $('#password2').val();

            if (newPassword !== confirmPassword) {
                showNotification('New password and confirm password do not match!',false)
                return;
            }

            $.ajax({
                url: '/api/ForgetPasswordView/',
                type: 'POST',
                data:{
                    'old_password': Current_email,
                    'new_password': newPassword
                },
                success: function(response,t,xhr) {
                    if (xhr.status == 203){
                        showNotification('Wrong Current Password',false)
                    }
                    else{
                        localStorage.setItem('new_email',"Your Password Change please Login")
                        sessionStorage.removeItem('refresh_token')
                        sessionStorage.removeItem('token')
                        window.location.href = '/login/'
                    }
                },
                error: function(xhr, status, error) {
                    showNotification('Something Went Wrong',false)
                }
            });
        });
    });
</script>

    {% endblock %}