{% extends 'base/base.html' %}



{% block content %}

    <div class="form-content-signup">
        <div class="col-lg-4">
    
            <h2 class="mb-4">Sign Up</h2>
    
            <form id="contact-form" class="contact-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group d-flex justify-space-between">
                            <div>
                                <label for="firstname">First Name:</label>
                                <input type="text" class="form-control form-control-name" name="first_name" required placeholder="Enter Your First Name">
                            </div>
                            <div>
                                <label for="lastname">Last Name:</label>
                                <input type="text" class="form-control form-control-name" name="last_name" required placeholder="Enter Your Last Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control form-control-name" name="email" required
                                placeholder="Enter Your Email">
                        </div>
    
                        <div class="form-group">
                            <label for="password"> Password:</label>
                            <input type="password" name="password" class="form-control form-control-name" required
                                id="Password1" placeholder="Enter Your Password">
                        </div>

                        <div class="form-group">
                            <label for="password2">  Confirm Password:</label>
                            <input type="password" name="password2" class="form-control form-control-name" required
                                id="Password2" placeholder="Enter Your Password">
                        </div>


                        <div class="form-group justify-space-between">
                            <input type="submit" class="btn btn-primary solid blank mt-3" value="Submit">
                            
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <p class="text-center mt-4">
                    Have A Account! <a href="{% url 'Login'%}"> Login</a>
                </p>
            </div>
        </div>
    </div>



    {% endblock content %}



    {% block scriptblock %}
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contact-form').submit(function(e) {
                e.preventDefault();
                password = document.getElementById('Password1')
                password1 = document.getElementById('Password2')
                if (password.value == password1.value) {
                    var formData = new FormData(this);
                    $.ajax({
                        type: 'POST',
                        url: '/api/account/', // Update this URL with your Django API endpoint
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            localStorage.setItem('account_create','Account created successfully')
                            window.location.href = '/login/'
                        },
                        error: function(xhr, status, error) {
                            console.log(xhr.responseJSON.email[0])
                            if (xhr.responseJSON.email[0]){
                                showNotification(xhr.responseJSON.email[0],false)
                            }
                            console.error('Error creating account:', error);
                        }
                    });
                }
                else{
                    showNotification('Password does not match')
                }
            });
        });
    </script>
    
    {% endblock %}