{% extends 'base/base.html' %}



{% block content %}


    <!-- <section>
        <div>
            <H1>
                Sign Up Form
            </H1>
        </div>
    </section>
    <form action="{% url 'SignUp' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" required name="email" placeholder="Enter Your Email">
        </div>
        <div>
            <label for="password1"> Password:</label>
            <input type="password" required name="password1" id="Password1" placeholder="Enter Your Password">
        </div>
        <div>
            <label for="password2"> Confirm Password:</label>
            <input type="password" required name="password2" id="Password2" placeholder="Enter Your Password">
        </div>
        <!-- {% for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            <br>
            <br>
        {% endfor%} -->
        <!-- <input type="submit" value="Submit">
    </form>
    <div>
        <p>
            Have A Account! <a href="{% url 'Login'%}"> Login</a>
        </p>
    </div> -->

    <div class="form-content-signup">
        <div class="col-lg-4">
    
            <h2 class="mb-4">Sign Up</h2>
    
            <form id="contact-form" action="{% url 'SignUp' %}" method="post" class="contact-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group d-flex justify-space-between">
                            <div>
                                <label for="email">First Name:</label>
                                <input type="text" class="form-control form-control-name" name="firstname" required placeholder="Enter Your First Name">
                            </div>
                            <div>
                                <label for="email">Last Name:</label>
                                <input type="text" class="form-control form-control-name" name="lastname" required placeholder="Enter Your Last Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control form-control-name" name="email" required
                                placeholder="Enter Your Email">
                        </div>
    
                        <div class="form-group">
                            <label for="password1"> Password:</label>
                            <input type="password" name="password1" class="form-control form-control-name" required
                                id="Password1" placeholder="Enter Your Password">
                        </div>

                        <div class="form-group">
                            <label for="password2">  Confirm Password:</label>
                            <input type="password" name="password2" class="form-control form-control-name" required
                                id="Password2" placeholder="Enter Your Password">
                        </div>


                        <div class="form-group justify-space-between">
                            <input type="submit" class="btn btn-primary solid blank mt-3" value="Submit">
                            
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <p class="text-center mt-4">
                    Have A Account! <a href="{% url 'Login'%}"> Login</a>
                </p>
            </div>
        </div>
    </div>


    {% endblock content %}